.dvd-container {
    background-color: #fafafb;
    align-self: center; /* Sfondo leggermente sbiadito */
    height: 100%;
}

.dvdLogo {
    opacity: 1; /* Opacità delle immagini (trasparenza) */
}

body {
    overflow: hidden;
}