.loader {
    position : fixed;
    z-index: 9999;
    background : url("/img/inspectFile.gif") 50% 50% no-repeat;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
}