.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color: #4bcd0b #16cd2d #fff;
    border: 2px solid
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #4bcd0b #16cd2d #fff;
    background-color: hsla(144, 68%, 49%, 0.14);
}

.file-info {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    color: black;
}

.file-info-item {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 70px;
    flex-grow: 1;
}

.file-info-badge-name {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.file-info-item-name {
    width: 40%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-info-value {
    font-size: 14px;
    margin-left: 5px;
}

.file-name {
    font-size: 14px;
}

.Invalid {
    color: hsl(3, 100%, 70%);
    background-color: hsla(3, 75%, 62%, 0.14);
    font-size: 12px;
}

.Valid {
    color: hsl(145, 85%, 46%);
    background-color: hsla(145, 92%, 51%, 0.14);
    font-size: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container img {
    width: 10%;
    height: 15%;
    align-self: center;
}

.container p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.container a {
    font-size: 20px;
}

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 8px;
}

tbody td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
