.file-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: black;
}

.file-info-item {
    width: 33%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-info-item-name {
    width: 63%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-name {
    font-size: 14px;
}