@keyframes float1 {
    0% {
        transform: translate(0, 0) scale(1) rotate(0);
    }
    25% {
        transform: translate(calc(100% - 150px), calc(100% - 150px)) rotate(-45deg);
    }
    50% {
        transform: translate(calc(100% - 100px), calc(100% - 100px)) rotate(0);
    }
    75% {
        transform: translate(calc(100% - 150px), calc(100% - 150px)) rotate(45deg);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes float2 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(calc(100% - 140px), calc(100% - 60px));
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes float3 {
    0% {
        transform: translate(0, 0) scale(1) rotate(0);
    }
    25% {
        transform: translate(calc(100% - 100px), calc(100% - 100px)) rotate(-45deg);
    }
    50% {
        transform: translate(calc(100% - 60px), calc(100% - 60px)) rotate(0);
    }
    75% {
        transform: translate(calc(100% - 100px), calc(100% - 100px)) rotate(45deg);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes float4 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(calc(100% - 80px), calc(100% - 20px));
        animation-timing-function: cubic-bezier(0.9, 0.1, 0.5, 1);
    }
    100% {
        transform: translate(0, 0);
    }
}

.form-container {
    position: relative;
    z-index: 1;
}

.image-container {
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.float-svg-end {
    animation: float1 50s ease-in-out infinite;
    transform: translate(calc(100% - 70px), -20px);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/end.svg");
    top: 80px;
    left: 10px;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    opacity: 0.7;
}

.float-svg-xorGateway {
    animation: float1 40s ease-in-out infinite;
    transform: translate(calc(100% - 30px), -15px);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/xorGateway.svg");
    top: 80px;
    left: 20px;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    opacity: 0.7;
}

.float-svg-interMsg {
    animation: float2 27s ease-in-out infinite;
    transform: translate(calc(50% - 50px), -50px);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/interMsg.svg");
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    opacity: 0.7;
}

.float-svg-data {
    animation: float2 35s ease-in-out infinite;
    transform: translate(calc(100% - 35px), -30px);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/data.svg");
    top: 40px;
    left: 0px;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    opacity: 0.7;
}

.float-svg-endTerminate {
    animation: float3 17s ease-in-out infinite;
    transform: translate(calc(100% - 40px), -70px);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/endTerminate.svg");
    top: 0px;
    left: 30px;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    opacity: 0.7;
}

.float-svg-dataStore {
    animation: float3 21s ease-in-out infinite;
    transform: translate(calc(100% - 84px), -70px);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/dataStore.svg");
    top: 100px;
    left: 30px;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    opacity: 0.7;
}

.float-svg-endError {
    animation: float4 26s ease-in-out infinite;
    transform: translate(calc(100% - 10px), -30px);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/endError.svg");
    top: 60px;
    left: 20px;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    opacity: 0.7;
}

.float-svg-endMessage {
    animation: float4 55s ease-in-out infinite;
    transform: translate(calc(100% - 30px), -10px);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/endMessage.svg");
    top: 100px;
    left: 100px;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    opacity: 0.7;
}

.float-svg-intCatchTimer {
    animation: float1 15s ease-in-out infinite;
    transform: translate(calc(100% - 30px), -10px);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/intCatchTimer.svg");
    top: 34px;
    left: 31px;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    opacity: 0.7;
}

.float-svg-intThrowEscalation {
    animation: float1 23s ease-in-out infinite;
    transform: translate(calc(100% - 30px), -10px);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/intThrowEscalation.svg");
    top: 80px;
    left: 80px;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    opacity: 0.7;
}

.float-svg-parallelGateway {
    animation: float2 30s ease-in-out infinite;
    transform: translate(calc(100% - 30px), -10px);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/parallelGateway.svg");
    top: 20px;
    left: 10px;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    opacity: 0.7;
}

.float-svg-startSignal {
    animation: float3 32s ease-in-out infinite;
    transform: translate(calc(100% - 30px), -10px);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/startSignal.svg");
    top: 60px;
    left: 60px;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    opacity: 0.7;
}

.float-svg-task {
    animation: float4 20s ease-in-out infinite;
    transform: translate(calc(100% - 35px), -0px);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/task.svg");
    top: 100px;
    left: 80px;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    opacity: 0.7;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    transition: all 0.5s ease;
}

button:hover {
    background-color: #3e8e41;
}

button:active {
    background-color: #1e5228;
    transform: translateY(4px);
}

input:hover {
    background-color: #3e8e41;
}

input:active {
    background-color: #1e5228;
    transform: translateY(4px);
}

input {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.icon-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
